body {
	background-color: darkgray;
}

.be2-udl-input {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

table.be2-unit {
}

table.be2-unit td {
	padding-left: 5px;
}

table.be2-unit tr td:first-child {
	text-align: right;
	color: lightcyan;
}

table.be2-unit-weapon {
}

table.be2-unit-weapon td {
	padding-left: 5px;
}

table.be2-unit-weapon thead td {
	color: lightcyan;
}

caption {
	color: darkcyan;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	font-size: 12pt;
}