<!DOCTYPE html>
<html ng-app="battleEngine2" lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css\bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css\starter-template.css" />
	<link rel="stylesheet" type="text/css" href="css\be2.css" />
	<title>BattleEngine 2</title>
</head>
<body ng-controller="mainCtrl as main">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">BattleEngine 2</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{active:state === states.combat}"><a href="" ng-click="state=states.combat">Combat</a></li>
					<li ng-class="{active:state === states.fleets}"><a href="" ng-click="state=states.fleets">Fleets</a></li>
					<li ng-class="{active:state === states.units}"><a href="" ng-click="state=states.units">Units</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
	<!-- Unit Panel -->
	<div class="container" ng-show="state === states.units" ng-controller="unitPanel as panel">
		<textarea class="be2-udl-input" ng-model="udl" ng-change="panel.parseUnit(udl)"></textarea>
		<div class="row">
			<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
				<table class="be2-unit">
					<caption>Unit</caption>
					<tr>
						<td>Name:</td><td>{{unit.name}}</td>
					</tr>
					<tr>
						<td>Type:</td><td>{{unit.type.class}}</td>
					</tr>
					<tr ng-show="unit.type.target">
						<td>Target:</td><td>{{unit.type.target}}</td>
					</tr>
					<tr ng-show="unit.type.eccm">
						<td>ECCM:</td><td>{{unit.type.eccm}}</td>
					</tr>
					<tr ng-show="unit.type.defense">
						<td>Defense:</td><td>{{unit.type.defense}}</td>
					</tr>
					<tr ng-show="unit.type.ecm">
						<td>ECM:</td><td>{{unit.type.ecm}}</td>
					</tr>
					<tr ng-show="unit.type.resist">
						<td>Resist:</td><td>{{unit.type.resist}}</td>
					</tr>
					<tr ng-show="unit.type.flicker">
						<td>Flicker:</td><td>{{unit.type.flicker}}</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
				<table class="be2-unit">
					<caption>Hull</caption>
					<tr>
						<td>Base Hull:</td><td>{{unit.hull.base}}</td>
					</tr>
					<tr>
						<td>Final Hull:</td><td>{{unit.hull.final}}</td>
					</tr>
					<tr ng-show="unit.hull.defense">
						<td>Defense:</td><td>{{unit.hull.defense}}</td>
					</tr>
					<tr ng-show="unit.hull.resist">
						<td>Resist:</td><td>{{unit.hull.resist}}</td>
					</tr>
					<tr ng-show="unit.hull.absorb">
						<td>Absorb:</td><td>{{unit.hull.absorb}}</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
				<table class="be2-unit">
					<caption>Shield</caption>
					<tr><td class="text-right">Shield:</td><td>{{unit.shield.max}}</td></tr>
				</table>
			</div>
			<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
				<table class="be2-unit">
					<caption>Command</caption>
					<tr ng-show="unit.command.target">
						<td>Target:</td><td>{{unit.command.target}}</td>
					</tr>
					<tr ng-show="unit.command.defense">
						<td>Defense:</td><td>{{unit.command.defense}}</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-med-12 col-sm-12-col-xs-12">
				<table class="be2-unit">
					<caption>Beams/Railguns</caption>
					<tr>
						<thead>
							<tr><td>Volley</td><td>Target</td><td>Yield</td></tr>
						</thead>
						<tbody>
							<tr>
								<td>{{beam.volley}}</td></tr>
							</tr>
						</tbody>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-med-12 col-sm-12-col-xs-12">
				<table class="be2-unit">
					<caption>Missiles/Engery Torpedos</caption>
					<tr>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table class="be2-unit">
					<caption>Stat Totals</caption>
					<tr>
						<td>Target:</td><td>{{unit.total.target}}</td>
					</tr>
					<tr>
						<td>Defense:</td><td>{{unit.total.defense}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- Fleet Panel -->
	<div class="container" ng-show="state === states.fleets">
		<p class="lead">This is the fleets interface.</p>
	</div>
	<!-- Combat Panel -->
	<div class="container" ng-show="state === states.combat">
		<p class="lead">This is the main interface for the combat engine.</p>
	</div>
	<script type="text/javascript" src="rokhos.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="be2.js"></script>
</body>
</html>