<div class="row">
	<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
		<table class="be2-unit">
			<caption>Unit</caption>
			<tr>
				<td>Name:</td><td>{{unit.name}}</td>
			</tr>
			<tr>
				<td>Type:</td><td>{{unit.type.class}}</td>
			</tr>
			<tr ng-show="unit.type.target">
				<td>Target:</td><td>{{unit.type.target}}</td>
			</tr>
			<tr ng-show="unit.type.eccm">
				<td>ECCM:</td><td>{{unit.type.eccm}}</td>
			</tr>
			<tr ng-show="unit.type.defense">
				<td>Defense:</td><td>{{unit.type.defense}}</td>
			</tr>
			<tr ng-show="unit.type.ecm">
				<td>ECM:</td><td>{{unit.type.ecm}}</td>
			</tr>
			<tr ng-show="unit.type.resist">
				<td>Resist:</td><td>{{unit.type.resist}}</td>
			</tr>
			<tr ng-show="unit.type.flicker">
				<td>Flicker:</td><td>{{unit.type.flicker}}</td>
			</tr>
		</table>
	</div>
	<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
		<table class="be2-unit">
			<caption>Hull</caption>
			<tr>
				<td>Base Hull:</td><td>{{unit.hull.base}}</td>
			</tr>
			<tr>
				<td>Final Hull:</td><td>{{unit.hull.final}}</td>
			</tr>
			<tr ng-show="unit.hull.defense">
				<td>Defense:</td><td>{{unit.hull.defense}}</td>
			</tr>
			<tr ng-show="unit.hull.resist">
				<td>Resist:</td><td>{{unit.hull.resist}}</td>
			</tr>
			<tr ng-show="unit.hull.absorb">
				<td>Absorb:</td><td>{{unit.hull.absorb}}</td>
			</tr>
		</table>
	</div>
	<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
		<table class="be2-unit">
			<caption>Shield</caption>
			<tr><td class="text-right">Shield:</td><td>{{unit.shield.max}}</td></tr>
		</table>
	</div>
	<div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
		<table class="be2-unit">
			<caption>Command</caption>
			<tr ng-show="unit.command.target">
				<td>Target:</td><td>{{unit.command.target}}</td>
			</tr>
			<tr ng-show="unit.command.defense">
				<td>Defense:</td><td>{{unit.command.defense}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-med-12 col-sm-12-col-xs-12">
		<table class="be2-unit-weapon">
			<caption>Beams/Railguns</caption>
			<thead>
				<tr><td>Volley</td><td>Target</td><td>Yield</td><td>dis</td><td>pen</td></tr>
			</thead>
			<tbody>
				<tr ng-repeat="beam in unit.beams">
					<td>{{beam.volley}}</td><td>{{beam.target}}</td><td>{{beam.yield}}</td><td>{{beam.dis}}</td><td>{{beam.pen}}</td></tr>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-med-12 col-sm-12-col-xs-12">
		<table class="be2-unit-weapon">
			<caption>Missiles/Torpedos</caption>
			<thead>
				<tr><td>Size</td><td>Packet</td><td>Ammo</td></tr>
			</thead>
			<tbody>
				<tr ng-repeat="missile in unit.missiles">
					<td>{{missile.size}}</td><td>{{missile.packet}}</td><td>{{missile.ammo}}</td></tr>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="be2-unit">
			<caption>Stat Totals</caption>
			<tr>
				<td>Target:</td><td>{{unit.total.target}}</td>
			</tr>
			<tr>
				<td>Defense:</td><td>{{unit.total.defense}}</td>
			</tr>
		</table>
	</div>
</div>